@charset "UTF-8";
div#video-audio {
	width: 900px;
	height: 574px;
	margin: auto;
	background-image: url("../_imagens/radio-tv.png");
	background-repeat: no-repeat;
}
#video {
	position: relative;
	display: block;
	width:443px; 
	height:325px;
	border-radius: 33px;
	left: 86px;
	top: 76px;
	border: none;
}
#audio {
	display: block;
	position: relative;
	width: 290px;
	height: 32px; 
	left: 579px;
	top: 173px;
	background-color: rgba(0,0,0,0.5);
}
#video-index-recente {
	width: 370px;
	height: 183.3px;
	border: none;
}
#diaadia-video {
	border: none;
	width: 530px;
	height: 265px;
}